AZURE_OPENAI_ENDPOINT=zzzz
OPENAI_API_VERSION=zzzz
OPENAI_API_KEY=zzzz
OPENAI_MODEL_NAME=gpt-35-turbo

OPENAI_ENGINE=zzzz
OPENAI_API_TYPE=zzzz

MAX_MESSAGES_FROM_AGENTS_FOR_ONE_TRIGGER=3

CELERY_BROKER="amqp://rabbitmq:5672"
CELERY_QUEUE="my-celery-queue"
CELERY_WORKER_MAX=4
CELERY_TASK_NAME=agents-llm

DATABASE_URI="postgresql://postgres:postgres@db:5432/db"
